    @import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
    /*
==================
GENERAL
==================
*/

    html {
        font-family: 'Open Sans', 'Raleway', sans-serif;
        box-sizing: border-box;
        overflow: auto;
    }

    .o-s {
        font-family: 'Open Sans', sans-serif;
    }

    .rale {
        font-family: 'Raleway', sans-serif;
    }

    .bold-text {
        font-weight: bolder;
    }

    .white {
        color: #fff;
    }

    .gray {
        color: #333;
    }

    .bg-yellow{
      background-color: #F7B617;
    }

    .border-white{
      padding: 10px;
      border: solid 1px #fff;
    }

    .section{
      padding-top: 30px;
      padding-bottom: 30px;
    }

    /*Section Tarifa*/
    .section-tarifa input{
      width: 80%;
      display: inline-block;
      border-color: #fff;
    }
    .section-tarifa input::placeholder{
      color: #fff;
    }
    .section-tarifa i{
      width: 40px;
      display: inline-block;
    }
    .section-tarifa input:focus{
      border-color: #fff;
      box-shadow: none;
    }
   div#map{
     width: 100%;
     height: 60vh;
   }
